@import "mixins";

/*** PAGEFOOT ***/

div.pagefoot
{
  position: relative;
  clear:both;
  background-color: $brand-primary;
  border-top: 10px solid darken($brand-primary, 10px);
  color: lighten($brand-primary, 50%);
  margin-top: 20px;
  padding: 20px 0;
  z-index: $zindex-navbar - 1;
  text-align: center;

  hr
  {
    border-top-color: darken($brand-primary, 5%);
  }
  ul.nav-footer
  {
    @include nav-inline(5px);
    margin-top: 5px;
  }

  address
  {
    display: block;
    line-height: 19px;
    margin: 0;
  }
  a
  {
    color: #FFFFFF;
  }
  a.logo
  {
    margin-bottom: 10px;
  }
  p
  {
    margin: 0;
  }

  .fa-inverse
  {
    color: $brand-primary;
  }
}

/*** END PAGEFOOT ***/
